@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap');

/*
font-family: 'Quicksand', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
*/

body * {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    line-height: 1.4;
}

html {
    scroll-behavior: smooth;
}

*,
* before,
* after {
    box-sizing: border-box;
}

body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/*container*/
.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0px 10px;
}

/*global*/
.subtitle {
    font-size: 14px;
    color: #008ed6;
    text-transform: uppercase;
    font-weight: 900;
}

.title {
    font-size: 36px;
    margin-top: 20px;
}

.title::after {
    content: "";
    display: block;
    background-color: #008ed6;
    width: 45px;
    height: 2px;
    margin-top: 30px;
}

.text {
    color: #7d7976;
    font-size: 18px;
}


/*header*/
.header {
    padding: 40px 0px 30px 0px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    position: relative;
}

.nav__link {
    color: #fff;
    margin-left: 25px;
    display: inline-block;
}

.nav__link::after {
    content: "";
    display: block;
    background-color: #008ed6;
    visibility: hidden;
    transition: width 200ms;
    width: 0;
    height: 2px;
    margin-top: 10px;

}

.nav__link:hover::after {
    width: 100%;
    visibility: visible;
}

/*HOME*/
.home {
    background: url("../images/home-section-bg.jpg") center no-repeat;
    background-size: cover;
    height: 660px;
    display: flex;
    color: #fff;
}

.home__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 160px;
    flex: 0 1 50%;
}

.home__inner__left {
    max-width: 490px;
}

.home__title {
    font-size: 48px;
    margin-top: 30px;
    font-family: 'Myriad', sans-serif;
    font-weight: 400;
}

.home__text {
    margin-top: 30px;
}

.home__buttons {
    max-width: 340px;
    margin-top: 70px;
    display: flex;
    justify-content: space-between
}

.home__image {
    position: relative;
    bottom: 20px;
}

.button {
    width: 160px;
    height: 50px;
    color: #fff;
    text-transform: uppercase;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
}

.button:hover {
    cursor: pointer;
    opacity: 0.7;
}

.button_primary {
    background-color: #008ed6;
    border: unset;
}

.button_secondary {
    background-color: transparent;
    border: 1px #7d7976 solid;
}

/*features*/
.features {
    padding: 60px 0px 70px 0px;
}

.features__iner {
    text-align: center;
}

.features__list {
    display: flex;
    flex-wrap: wrap;
    flex: 0 1 25%;
    justify-content: center;
}

.features__list__item {
    width: 100%;
    max-width: 270px;
    text-align: center;
    margin-left: 7px;
    margin-right: 7px;
    display: flex;
    flex-direction: column;
    margin-top: 75px;
}

.features__list__item__ico {
    width: 90px;
    height: 90px;
    padding: 25px;
    border-radius: 50%;
    border: 1px #7d7976 solid;
    margin: 0 auto;
}

.features__list__item__title {
    font-size: 24px;
    margin-top: 35px;
    font-weight: 600;
}

.features__list__item__text {
    margin-top: 35px;
}

.features__title::after {
    margin-left: auto;
    margin-right: auto;
}

/*about-long*/
.about-long {
    padding: 20px 0px;
}

.about-long__inner {
    display: flex;
    justify-content: space-between;
}

.about__inner__left__image {
    max-width: 100%;
    height: auto;
}

.about__inner__right {
    margin-top: 65px;
    width: 100%;
    max-width: 490px;
}

.about__text {
    margin-top: 35px;
}

.about__list__item::marker {
    width: 16px;
    height: 25px;
}

.about__list {
    margin-top: 40px;
}

.about__list__item {
    list-style: none;
    padding-left: 24px;
    margin-top: 20px;
}

.about__list__item:nth-child(1) {
    background: url("../images/Cup.png") no-repeat 0;
}

.about__list__item:nth-child(2) {
    background: url("../images/Mouse.png") no-repeat 3px;
}

.about__list__item:nth-child(3) {
    background: url("../images/Energy.png") no-repeat 3px;
}

.about__list__item:nth-child(4) {
    background: url("../images/Speedometer.png") no-repeat 0;
}

/*about-short*/
.about-short {
    background-color: #f2f2f2;
    padding: 130px 0px 30px 0px;
}

.about-short__inner {
    display: flex;
    justify-content: space-between;
}

.about-short__inner__left {
    width: 100%;
    max-width: 490px;
}

.about-short__text {
    margin-top: 30px;
}

.about-short__inner__right__image {
    max-width: 100%;
    height: auto;
}

/*testimonials*/
.testimonials {
    background: url(../images/testimonials-bg.jpg) center no-repeat;
    background-size: cover;
    display: flex;
    color: #fff;
    padding: 65px 0px 120px 0px;
    text-align: center;
}

.testimonials__title::after {
    margin-left: auto;
    margin-right: auto;
}

.tetimonials__slider {
    margin-top: 50px;
    display: flex;
    overflow: hidden;
}

.testimonials__slider__item {
    display: flex;
    width: 100%;
    text-align: left;
    flex-shrink: 0;
}

.testimonials__slider__item__first,
.testimonials__slider__item__second {
    width: 100%;
    max-width: 570px;
    font-size: 24px;
    font-style: italic;
    margin-right: 15px;
}

.testimonials__slider__item__second,
.testimonials__slider__item__author__about {
    margin-left: 15px;
}

.testimonials__slider__item__author {
    display: flex;
    margin-top: 10px;
    align-items: center;
}

.testimonials__slider__item__author__about__name {
    font-style: normal;
    font-size: 16px;
}

.testimonials__slider__item__author__about__position {
    text-transform: uppercase;
    font-size: 14px;
    font-style: normal;
    font-weight: 900;
}

/* dots */
.slider-dots {
    text-align: center;
    margin-top: 150px;
}

.slider-dots_item {
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 2px;
    background-color: transparent;
    border: 1px #7d7976 solid;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.slider-dots_item:hover,
.active {
    height: 14px;
    width: 14px;
}

.active {
    background-color: white;
}

/* slider animation */
.testimonials__slider__item {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/*eye-cahthcer*/
.eye-catcher {
    padding: 60px 0px;
    background-color: black;
    color: #fff;
}

.eye-catcher__inner .title {
    margin: 0;
}

.eye-catcher__inner .title::after {
    display: none;
}

.eye-catcher__inner {
    display: flex;
    justify-content: space-between;
}

.eye-catcher__title_light {
    font-weight: 100;
}

/*pricing*/
.pricing {
    padding: 60px 0px;
}

.pricing__inner {
    text-align: center;
}

.pricing__title::after {
    margin-left: auto;
    margin-right: auto;
}

.pricing__tables {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    flex: 0 1 25%;
    flex-wrap: wrap;
}

.pricing__tables__item {
    height: 490px;
    width: 100%;
    max-width: 270px;
    border: 1px #7d7976 solid;
}

.pricing__tables__item:hover {
    cursor: pointer;
}

.pricing__tables__item:hover .pricing__tables__item__name {
    color: #008ed6;
}

.pricing__tables__item:hover .pricing__tables__item__cost,
.pricing__tables__item:hover .pricing__tables__item__cost p,
.pricing__tables__item:hover .pricing__tables__item__purchase {
    background-color: #008ed6;
    color: #fff;
}

.pricing__tables__item:hover .pricing__tables__item__purchase {
    border: unset;
}


.pricing__tables__item__name {
    text-transform: uppercase;
    font-weight: 900;
    padding: 25px 0px;
    border-bottom: 1px #7d7976 solid;
    font-size: 24px;
}

.pricing__tables__item__cost {
    padding: 40px 0px;
    border-bottom: 1px #7d7976 solid;
}

.pricing__tables__item__cost__sum {
    font-size: 60px;
}

.pricing__tables__item__cost__dollar {
    font-size: 48px;
}

.pricing__tables__item__cost__timing,
.pricing__tables__item__about {
    color: #7d7976;
}

.pricing__tables__item__about {
    padding: 30px 10px 0px 10px;
}

.pricing__tables__item__about_blue {
    color: #008ed6;
}

.pricing__tables__item__purchase {
    margin: 30px 0px;
    color: #008ed6;
    background-color: #fff;
}


/*media*/


@media screen and (max-width:800px) {
    .testimonials__slider__item {
        flex-direction: column;
    }

    .testimonials__slider__item__second {
        margin: 20px 0;
    }
}

@media screen and (max-width:1100px) {
    .pricing__tables__item {
        margin-top: 5px;
        margin: 5px auto 0px auto;

    }
}

@media screen and (max-width:1020px) {

    .home__inner__left,
    .about__inner__right,
    .about-short__inner__left,
    .about-short__inner__right {
        margin: 0 auto;
    }

    .about-short__inner {
        flex-wrap: wrap;

    }


    .about__inner__right {
        padding-bottom: 60px;
    }

    .home__inner__right,
    .about__inner__left {
        display: none;
    }
}